<html>
  <head>
    <title>CandyGraph Tutorial</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="bundle.js" defer></script>
  </head>
  <body>
    <div class="uk-section">
      <div class="uk-container">
        <h1>CandyGraph Tutorial</h1>
        {{ insert }}
      </div>
    </div>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
